html, body {
    margin: 0;
    padding: 0;
    background-color: #151515;
}

.gameWrapper{
    width:800px;
    margin: 0 auto;
    margin-top: 2em;   
}

canvas {
    display: block;
    margin: auto;
    position: relative;
}

h4 {
    color: #ffffff;
    display: inline-block;
    position: relative;
    padding-right: 25px;
}

.controls {
    position: relative;
    display: block;
    margin: auto;
}